{% extends 'base.html' %}

{% block content %}
<div class="form-card">
    <h3 class="form-title">
        <i class="bi bi-person-plus"></i> Register
    </h3>

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password"
                   class="form-control"
                   required>
        </div>

        <button type="submit" class="btn btn-success w-100">
            Create Account
        </button>
    </form>

    <p class="text-center mt-3">
        Already registered?
        <a href="{% url 'login' %}">Login</a>
    </p>
</div>
{% endblock %}
